[submodule "regexpcompat"]
	path = .submodules/rerejs
	url = https://github.com/ECMAScript2/es2-regexpcompat.git/
[submodule ".submodules/web-doc-base"]
	path = .submodules/web-doc-base
	url = https://github.com/itozyun/web-doc-base.git/
